.banner{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include media(1240px){
         flex-direction: row; 
    }

    &__content{
        order: 2;
        text-align: center;
        width: 70%;

        @include media(1240px){
            margin-right: 3rem;
            margin-left: 90px;
            order:1; 
            text-align: left;
        }
    }

    &__title{
        color:var(--dark-violet);
        @include media(medium){
            font-size: 50px;
        }
        @include media(1240px){
            font-size: 70px;
              
        }
    }

    &__paragraph{
        color:var(--grayish-violet);
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 3rem;
    }

    &__img{
        // position: relative;
        // right: 0;
        // align-self: flex-end;
        padding-left: 1rem;
        padding-right: 1rem;
        order:1;
        margin-bottom: 3rem;
        // outline: 1px solid red;
        @include media(1240px){
            width:650px;
            order:2; 
        }
    }
}

