.button{
    // padding: 1rem 1rem;
    display: block;
    color:#fff;
    font-weight: 700;

    @include media(large){
          display: initial;
    }
}
    
.button--login{
        @extend .button;
        color:var(--grayish-violet)
}

.button--blue{
    @extend .button;
    padding:.8rem 1rem;
    border-radius: 40px;
    margin: 0 2rem 2rem;
    background-color:var(--cyan);
    
    @include media(large){
         padding:.6rem 1.5rem;
         color:#fff; 
    }
}

.button--started{
    @extend .button;
    padding: .8rem 1.5rem;
    background-color: var(--cyan);
    border-radius: 30px;
}