.button{
    padding: 1.5rem 1rem;
    display: block;
    color:#fff;
    font-weight: 700;

    @include media(large){
          display: initial;
          color:var(--grayish-violet)
    }
}

.button--blue{
    @extend .button;
    padding:.8rem 1rem;
    border-radius: 40px;
    margin: 0 2rem 2rem;
    background-color:var(--cyan);
    
    @include media(large){
         padding:.6rem 1.5rem;
         color:#fff; 
    }
}