.statistics{
    &__content{
        width:60%;
        margin:0 auto;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__title{
        color:var(--dark-violet);
    }
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,300px));
    justify-content: center;
    align-items: center;
    gap:60px;
    @include media(large){
        margin-bottom: 10rem;
    }
}

.card{
    &__items{
        position: relative;

        &:nth-child(2)::before, &:nth-child(2)::after{
            content: '';
            display: block;
            position: absolute;
            width: 3.6rem;
            height: .5rem;
            background-color: var(--cyan);
            transform: rotate(90deg);
            right: 0;
            left: 0;
            margin-right: auto;
            margin-left: auto;
        }

        &:nth-child(2)::before{
            
            top: -1.5rem;

        }
        :nth-child(2)::after{
            bottom: 0;
        }

        @include media(medium){
            &:nth-child(2)::before, &:nth-child(2)::after{
                display: none;
            }
        }

        @include media(large){
            text-align: left; 
            &:nth-child(2)::before, &:nth-child(2)::after{
                display: block;
                transform: rotate(0);
                margin-left:initial;
                margin-right: initial;
                
            }
            &:nth-child(2){
                top:3rem;
            }
            &:nth-child(3){
                top:5rem;
            }
            
            
            &:nth-child(2)::before{
                top:5rem;
                left:-3.6rem;
            }
            
            &:nth-child(2)::after{
                top:5rem;
                left:initial;
                right: -3.6rem;
            }
       }


    }
    &__content{
        text-align: center;
        padding: 1rem;
        @include media(large){
             text-align:left; 
        }

    }
    &__title{
        font-size: 15px;
        color:var(--dark-violet);
    }

    &__paragraph{
        font-size: 14px;
        color: var(--grayish-violet);
    }
    &__img{
        width: 3.5rem;
        padding: .5rem;
        border-radius: 50%;
        background-color: var(--dark-violet);
        margin-bottom: 1rem;
    }

    
}