.footer{
    background-color: var(--very-dark-violet);

    &__paragraph{
        margin-top: 0;
        padding-top: 2rem;
        text-align: center;
        color:var(--white);
        font-size: var(--title-font-size);
    }

    &__list{
        padding-bottom: 2rem;

        
    }
    
    &__item{
        // display: block;
        padding:.5rem;
        &:first-child > a{
            color: var(--white);
        }
    }
    &__link{
        color:var(--grayish-violet);
    }

    &__social{
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.content-list{
    text-align: center;
}

.content-social{
    display: flex;
    justify-content: space-around;
}